body {
	background-image: url(cyberny.jpg);
	background-size: cover;
	/*täcker hela skärmen*/
	background-repeat: no-repeat;
	/*förhindra upprepning*/
	background-attachment: fixed;
	/*fäster bakgrundsbilden*/
}
body {
	display: block;
	margin: 1em;

}

h1 {
text-align: center;
color:white;
}

.flex-container {
display: flex;
margin: 20em;
align-items: center;
}

	
