/*Bakgrundsbild och stil för sidan*/
body {
	background-image: url(cyberny.jpg);
	background-size: cover;
	/*täcker hela skärmen*/
	background-repeat: no-repeat;
	/*förhindra upprepning*/
	background-attachment: fixed;
	/*fäster bakgrundsbilden*/
	display: block;
	min-width: 350px;
}

h1 {
text-align: left;
color:white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1.5em;
margin: 0.5em;
padding: 2em;
}

/* stil för tillbaka-knappen */

.Tillbaka-container {
	display: flex;
	margin: 1em;

}

.Tillbaka-container a {
	color: white;
	margin: 0.5em;
	font-weight: bold;
	/* gör texten fet */
	font-size: 1.5em;
	text-align: left;
}
