/* stilar för formulär*/
form {
	border: 2px solid white;
	margin: 0.5em 0;
	padding: 0 1em;
	/* första är upptill */
	flex-wrap: wrap;
}

.form-section {
display:flex;
justify-content: space-between;
flex-wrap: wrap;
min-width: 45%;
}

.form-box {
	flex:1;
	padding:0.7em;
}

.radio {
	cursor: pointer;
}


/* för input-fält med validering */
input:valid {
	border-right: 0.3em solid green;
}

input:invalid {
	border-right: 0.3em solid red;
}

.error-message {
	visibility: hidden;
	margin: 0;
	color: red;
	font-weight: bold;
}

input:invalid+.error-message {
	visibility: visible;
}

/* stil för ansökningscontainern */
.ansök-container {
	display: flex;

}

.form-allergi input {
	height: 5em;
	width: 15em;
}