body {
	background-color: rgb(29, 35, 29);
}

header {
	color:rgb(66, 9, 209);
	position: center;
}
h1 {
	color: rgb(66, 9, 209);
	position: center;
}

h2 {
	color: white;
}

.foto-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}
img {
	min-width: 225px;
	max-width: 900px;
}
@media screen {
	
}