@media screen {
	body {
		min-width: 350px;
	}
}
:root {
	/*Variabler för css här*/
	--primary-color: rgb(255, 255, 255);
}

body { 
background-image: url(circle1.jpg);
background-size: cover; /*täcker hela skärmen*/
background-repeat: no-repeat; /*förhindra upprepning*/
background-attachment: fixed; /*fäster bakgrundsbilden*/
}

header {
	padding: 0.5em;
	font-size: 1.1em;
	margin: 0.3em;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-box{
	margin:1em;
	padding: 0.5em;
	
}


/*Menyn & Knapparna ! */
.meny-box {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.meny-box > a {

	padding: 0.5em 1em;
	border: 2px solid white;
	margin: 1em 0.2em;
	background-color: var(--primary-color);
	position: relative;
	top: 0em;
	text-decoration: none;
	/* offset-x offset-y blur-radius*/
	box-shadow: 0.2em 0.3em 0.5em;
	top: -0.3em;
	transition: all 0.4s;
}

.meny-box>a:hover {
	box-shadow: 0.6em 0.7em 0.7em rgb(34, 12, 132);
	top: 0.2em;
}

h1 {
color:var(--primary-color);
text-align: center;
font-size: 3em;
}

h2 {
color:var(--primary-color);
text-align: center;
font-size: 1.5em;
}

h3{
	color:var(--primary-color);
	text-align: center;
	font-size: 1.3em;
}
/* För att kunna skriva in "meddelande" */
.form-section {
	text-align: center;
}
.form-textning {
	text-align: center;
}

button {
	background-color:var(--primary-color);
	align-items: center;
}



/* Måste bli validerad */
input:valid {
	border-right: 0.3em solid green;
}

input:invalid {
	border-right: 0.3em solid red;
}

.error-message {
	visibility: hidden;
	margin: 0;
	color: red;
	font-weight: bold;
}

.form-textning input {
	height: 5em;
	width: 20em;
}
