body {
	background-image: url(cyberny.jpg);
    background-size: cover; /*täcker hela skärmen*/
	background-repeat: no-repeat; /*förhindra upprepning*/
	background-attachment: fixed;   /*fäster bakgrundsbilden*/
}
@media screen {
	max-width: 350px;
}
body {
	display: block;
	margin: 0.5em;
	
}

h1 {
	text-align: row;
	font-size: 1.5em;
	color:rgb(255, 255, 255);
}

h2 {
	text-align: row;
	font-size: 1.1em;
	color: rgb(255, 255, 255);

}

h3{
	text-align: center;
	font-size: 1em;
	color: rgb(255, 255, 255);
}


p {
	font-size: 1em;
	color:rgb(255, 255, 255);
	margin: 0.5em;
}

.div-text {
	display: grid;
	padding: 1em;
	color: rgb(255, 255, 255);
	text-align: row;
}


.pilen {
	font-family: "font-awesome";
	color: rgb(255, 255, 255);
	background-color: black;
	cursor: pointer  /*Visar att pilen är klickbas*/
}


.scroll-to-top {
	position: fixed;
	bottom:20px;
	right: 20px;
	cursor: pointer;
}
.scroll-to-top i {
	font-size: 3em;
}


.menyknappar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4em;
	width: 100%;
}

.menyknappar a {

	color: white;
	margin: 0.5em;
	font-weight: bold;
	font-size: 2em;
	padding: 0.2em;
	border-radius: 3px;
	text-align: center;
}

form {
	border: 2px solid white;
	margin: 0.5em 0;
	padding: 0 1em;
	/* första är upptill */
}

.form-section {
	display: flex
	color: white;
		flex-direction: column;
	/* göra det till column */
	margin: 1em 0;
}

.form-section label {
	color: white;
}

.form-section button {
	max-width: 10em;
}

.form-section.row {
	flex-direction: row;
}

.form-number {
	color:white;
	margin: 0.5 0;
}

.radio {
	cursor: pointer;

}


input:valid {
	border-right: 0.3em solid green;
}

input:invalid {
	border-right: 0.3em solid red;
}

.error-message {
	visibility: visible;
	margin: 0;
	color: red;
	font-weight: bold;
}

input:invalid+.error-message {
	visibility: hidden;
}

.ansök-container {
	display: flex;
		justify-content: space-around;
		align-items: center;
		height: 4em;
		width: 100%;
}

.skickaknapp {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.skickaknapp a {
	color: white;
	margin: 0.5em;
	font-weight: bold;   /* gör texten fet */
	font-size: 1.5em;
	text-align: left;
}